
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

*{  margin: 0; padding: 0; box-sizing: border-box; }

.navbar {
  background: #0f171e !important;
  color: #8197a4;
  width: 100%;
  height: auto;
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.navbar-brand h1{
  font-size: 2vw;
  font-weight: bold;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.langSign {
  position: relative;
  right: 2rem;
}
.active_class {
  position: relative;
  right: 1rem;
  font-size: 1vw;
  line-height: 24px;
  
}
.active_class:hover {
  color: #fff;
  cursor: pointer;
}
.select{
  background:#0f171e;
  border-color: #0f171e;
  color: #8197a4;
  width: 3rem;
  position: relative;
  right: 2rem;

}

.select option {
  
  font-size: 1.7vw;
  line-height: 24px;
}
.select:hover {
  color: #fff;
}

.mobile {
  display: none;
}

/* sectionOne */
.main_div{
  background-image: url('./Images/img1.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;

}

.editDiv1, .entertainment  {
  background: #000;
  width: 100%;
}
/* .editDiv1, .editDiv2, .editDiv3 {
  
  
  height: auto;
  flex: 1 1 200px !important;
} */

.editDiv2,.lightDiv {
  opacity: 0.9;
  box-shadow: 1rem 0.1rem 1rem #000;
  background: #000;
  height: 80vh;
  flex: 1;

  }

.welcomeH1, .welcomeH3 {
  font-size: 2.5vw;
  word-spacing: 2px;
  letter-spacing: 2px;
  font-weight: bolder;
  position: relative;
  top: 8rem;
  left: 2px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
.welcomeH3 {
  font-size: 1.5vw;
  font-weight: 500;
  position: relative;
  top: 9rem;
  word-spacing: 1px;
}

.freeTrial{
  border-radius: 2px;
  position: relative;
  top: 6rem;
  left: 3rem;
  width: 18vw;
  height: auto;
  
}

/* sectionTwo */

.main_divTwo {
  background-image: url('./Images/img2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* 
.getStarted {
  border-radius: 2px;
  position: relative;
  top: 22rem;
  right: 3rem;
  width: 18vw;
  height: auto; 
}
 */


/* sectionThree */

.main_divThree {
  overflow: hidden;
  background: #000;
}

.imgDiv {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./Images/img8.png');
  position: relative;
  top: 2rem;
  left: 4rem;
  filter: drop-shadow(4px 4px 4px #eeebdd);
}

/* sectionFour */
.upper_Div {
  overflow: hidden;
  padding: 2rem;


}
.divWithImg  { 
  position: relative;
  top: 2rem;
}

.divWithImg img {
  width: 100%;
  height: auto;
  filter: drop-shadow(4px 4px 4px #333);
}

.contentH2 {

  position: relative;
  left: 4rem;
  letter-spacing: 1px;
  font-size: 2vw;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

.contentPara{
  position: relative;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;

}

/* Footer */

.footer_Div {
  background: #222;
  background-attachment: fixed;
  width: 100%;
  height: 15vh;
}

.footerH2 {
  font-size: 2vw;
  font-weight: 800;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  word-spacing: 6px;
  text-transform: capitalize;
  font-family: 'Londrina Solid', cursive;

}

.footerH5{
  font-size: 1.5vw;
  font-weight: 800;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  word-spacing: 2px;
  font-family: 'New Tegomin', serif;
}

/* Sign-In */

.createAcc {
  width: 100%;
  height: auto;
  background: #fff;
  position: absolute;

}

.createAccH1 {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  color: #0f171e;
  letter-spacing: 1px;
  position: relative;
  top: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.createForm{
  background: #fff;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem #333);
  max-width: 30%;
  height: auto;
  position: relative;
  left: 30rem;
  top: 2rem;
  padding: 2rem;
}

.legendSign, .formLabel  {
  position: relative;
  left: 1rem;
  top: 1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #111;
  font-size: 2vw;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.formLabel {
  margin-bottom: 10px;
  font-size: 1.1vw;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.formInput, .inputClass, .inputClassCreate{
  position: relative;
  left: 1rem;
  top: 1rem;
  width: 22vw;
  height: 2.2rem;
  border-radius: 4px;
  margin-bottom: 20px;
}

.inputClass {
  background: #f0c14b;
  border-color:  #a88734 #9c7e31 #846a29;
}

.inputClass:hover {
  background:  #f0c929;
}

.paraForNew {
  color: #767676;
  font-size: 1rem;
  position: relative;
  text-align: center;
}
.inputClassCreate {
  position: relative;
  top: 1rem;
  background: transparent;
  white-space: nowrap;
}

.inputClassCreate:hover {
  background: #c8c6a7;
}

/* CreateAccount */

.createPara{
  font-size: .9rem;
  position: relative;
  left: 1rem;
  top: -1rem;
}

/* UserProfile */

.userLogo {
  position: relative;
}
.navbar-nav {
  display: block;
  float: right;
  margin-left: 50rem;
  cursor: pointer;
}
#logout{
  color: #8197a4;
}

#logout:hover {
  color: #fff;
  text-decoration: none;
  
}

.paraUser{
  color: #fff;
  position: relative; 
  top: 6.5rem;
  left: 4rem;
  font-weight: 100;
}

.hr_Div1 {
  width: 18%;
  border-top: 1px solid #fff;
  position: relative;
  top: 6rem;
  left: 4rem;
}

.hr_Div2 {
  width: 22%;
  border-top: 1px solid #fff;
  position: relative;
  top: 4.5rem;
  left: 12rem;
}

/* Media Queries */

@media screen and (min-width: 400px) and (max-width: 700px) {

  .navbar {
    width: 100%;
    height: auto;
  }
  
  .navbar-brand h1 {
    font-size: 3vw;
    position: fixed;
    left: 1vw;
    top: 1vw;
  }


  .langSign {
    display: none !important;
  }
  .select {
    display: none;
  }
  .videoSignIn {
    display: none;
  }
  .mobile{
    display: block;
    color: #8197a4;
  }
  .editDiv2,.editDiv3 {
    display: none;
  }
  .editDiv1  {
    width: 100%;
    height: 40vh;
  }
  .welcomeH1, .welcomeH3 {
    font-size: 2vw;
    position: relative;
    top: 12vw;
    left: 4vw !important;
  }
  
  .freeTrial{
    position: relative;
    top: 15vw !important;
    left: 1rem;
    width: 30vw !important;
    height: auto;
    
  }

  #btnSpan {
    font-size: 2vw !important;
    margin-top: 4px !important;   
  }

  /* SectionThree */
  .main_divTwo {
    height: 30vh !important;
  }
#IDH1,#IDH3 {
  position: relative;
  top: 3rem !important;
  margin-right: 20px !important;
}  

.btn span {
  font-size: 3vw !important;
}
#btnTwo{
  left: 1rem !important;
}
#btnThree {
  top: 24vw !important;
}
.imgDiv {
  top: 15vw;
  left: 2vw;
}

/* SectionFour */
.upper_Div {
  display: none;
}

/* Footer */

.footer_Div {
  height: 8vh;
}

.footerH2 {
  font-size: 3vw;
  font-weight: 600;
}
.footerH5{
  font-size: 2vw;
  font-weight: 600;
}

/* SignIn */
.createForm{
  max-width: 100%;
  height: auto;
  position: relative;
  left: 0;
  }
  .legendSign, .formLabel  {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 4vw;
  }
  .formLabel {
    font-size: 3vw;
  }
  
  .formInput, .inputClass, .inputClassCreate{
    top: 0.4vw !important;
    width: 72vw;
  }
  #createAccInput{
    top: -0.2rem !important;
  }
  #createAccInput{
    top: -1vw !important;
  }

  .navbar-toggler{
    position: absolute;
    right: 0;
    top: -1vw;
    color: #fff !important;
  }

  .navbar-nav {
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;    
  }
 .userLogo {
   display: none !important;
 } 

 .userSignIn {
   position: relative;
   right: 6rem;
 }
 .paraUser{
  position: relative; 
  top: 6.5rem;
  left: 4rem;
  font-weight: 100;
}
#smallDiv {
  display: none;
}
#col5_Div{
  display: none !important;
  }
}